.profile {
	float:none;
	margin:10px auto;
	width: 100%;
}

.portfolio {
	/* border:1px solid black; */
	/* margin: 10px */
}

.portfolio img {
	float: none;
	margin:20px auto;
}

.portfolio h3 {
	text-align: center;
}
